@model AccountSettingsViewModel
<div class="space-10"></div>

<div>
    <label class="inline">
        @Html.EditorFor(appSettings => appSettings.AllowInvites)
    </label>
</div>

<div class="space-8"></div>

<div>
    <label class="inline">
        <input type="checkbox" name="form-field-checkbox" />
        <span class="lbl">Email me new updates</span>
    </label>
</div>

<div class="space-8"></div>

<div>
    <label class="inline">
        <input type="checkbox" name="form-field-checkbox" />
        <span class="lbl">Keep a history of my conversations</span>
    </label>

    <label class="inline">
        <span class="space-2 block"></span>

        for
																<input type="text" class="input-mini" maxlength="3" />
        days
    </label>
</div>
