@{
    ViewBag.Title = "EditBudget";
}

<h2>EditBudget</h2>
<form>
    form
</form>

<form></form>
@section BreadCrumb{
    <div class="page-header position-relative">
        <h1>Manage Budgets
							<small>
                                <i class="icon-double-angle-right"></i>
                                Edit Budget(s)
                            </small>
        </h1>
    </div>
}