@{
    ViewBag.Title = "SetBudgetLimit";
}

<h2>SetBudgetLimit</h2>
@section BreadCrumb{
    <div class="page-header position-relative">
        <h1>Manage Budgets
							<small>
                                <i class="icon-double-angle-right"></i>
                                Set Budget Limit
                            </small>
        </h1>
    </div>
}